
.label{
  color:white;
  font-style: normal;
  size: 30px;
  float: center;
}

.profileName{
  color: white;
  size: 25px;
}

.profileBoard{
  margin-left: auto;
  margin-right: auto;
}

.checkBoxes{
  color:white;
  margin: 20px;

}

h5{
  color:whitesmoke
}

body {
  text-align: center;
  margin: auto;
}

.registerWrap {
  background-color: rgb(85, 84, 84);
  width: 365px;
  border: 5px solid rgb(31, 157, 230);
  padding: 48px;
  margin: 20px;
  opacity: 75%;
}


.loginWrap {
  background-color: rgb(85, 84, 84);
  width: 365px;
  border: 5px solid rgb(31, 157, 230);
  padding: 45px;
  margin: 20px;
  opacity: 75%;
}

.App {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  background-size: cover;
  background-position: center;
  background-image: url(https://cdn.pixabay.com/photo/2013/02/09/04/33/sea-79606__340.jpg)
}

input[type=text],
input[type=password], .postComment {
  background: linear-gradient(#1f2124, #27292c);
  border: 1px solid #222;
  border-radius: .3em;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
  color: #FFF;
  font-size: 13px;
  margin-bottom: 20px;
  padding: 8px 5px;
  width: 250px;
}

.submit {
  background: rgb(92, 155, 236);
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: .3em;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), inset 0 10px 10px rgba(255, 255, 255, 0.1);
  color: #d16d1b;
  cursor: pointer;
  font-size: 13px;
  font-weight: bold;
  height: 40px;
  padding: 5px 20px;
  width: 160px;
  position: fixed;

}

#dataList {
  list-style: none;
}


.dark-red {
  background-color: rgb(26, 26, 46);
  color: white;
  font-weight: bold;
  opacity: 80%;
}
.dark-red1 {
  background-color: rgb(26, 26, 46);
  color: white;
  font-weight: bold;
  opacity: 60%;
}
a.nav-link {
  color: white;
  cursor: pointer;
}

a.nav-link:hover {
  color: white;
  text-decoration: underline;
}

div>.post {
  padding: 20px;
  background-color:  rgb(26, 26, 46);
  color: white;
  font-weight: bold
}


.btn-danger {
  background-color: RGB(95, 0, 0) !important;
  border-color: RGB(95, 0, 0) !important;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.shadow {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.light-shadow {
  border-bottom: 0 none;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
}

.hr-fade {
  height: 2px;
  background-color: #E6E6E6;

  margin: 15px auto;
  background-image: linear-gradient(left, white 2%, #E6E6E6 50%, white 98%);
  background-image: -o-linear-gradient(left, white 2%, #E6E6E6 50%, white 98%);
  background-image: -moz-linear-gradient(left, white 2%, #E6E6E6 50%, white 98%);
  background-image: -webkit-linear-gradient(left, white 2%, #E6E6E6 50%, white 98%);
  background-image: -ms-linear-gradient(left, white 2%, #E6E6E6 50%, white 98%);
  background-image: -webkit-gradient(linear, left bottom, right bottom, color-stop(0.02, white), color-stop(0.5, gray), color-stop(0.98, white));
}

.margin-bottom-10 {
  margin-bottom:10px
}

.bg-white {
  background-color:rgb(128,128,128)
}
.bg-dark {
  background-color:black
}

.pendingFriendRequest {
  min-height:400px;
  max-height:400px;
  overflow-y:auto
}

.margin-left-10 {
  margin-left:10px
}

.pointer {
  cursor: pointer;
}

.container{
  padding:5%;
}
.container .img{
  text-align:center;
}
.container .details{
  border-left:3px solid #ded4da;
  margin-left: 15px;
}
.container .details p{
  font-size:15px;
  font-weight:bold;
  margin-left: 15px
}

.checkbox{
  width: 50px;
  height: 25px;
  background-color: rgb(2, 14, 43);
  border: rgb(3, 3, 80);
}

.search-box{
 width: 100%;
 margin: 0 0 75px;
 font-family: 'montseratt', sans-serif;

}

.search-box .search-bar{
  display: block;
  width: 100%;
  padding: 15px;
  appearance: none;
  background: none;
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 0px 0px 16px 16px;
  margin-top: -25px;
  box-shadow: 0px 5px rgba(0,0,0,0.2) ;

  color: #313131;
  font-size: 20px;
  transition: 0.4s ease;
}



body {
  font-family: 'montseratt', sans-serif;
}



main{
  min-height: 30vh;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.2), rgba(0,0,0,0.75));
  padding: 25px;
}

.location-box .location {
  color: #FFF;
  font-size: 32px;
  font-weight: 300;
  text-align: center;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
}

.location-box .date{
color: #FFF;
font-size: 20px;
font-weight: 175;
font-style: italic;
text-align: center;
text-shadow: 2px 2px rgba(50, 50, 70, 0.5);
}

.weather-box{
  text-align: center;
}


.weather-box .temp{
  position: relative;
  display: inline-block;
  margin: 30px auto;
  background-color: rgba(255, 255,  255, 0.2);
  border-radius: 16px;
  padding: 15px 25px;
  color: #FFF;
  font-size: 100px;
  font-weight: 900;
  text-shadow: 3px 6px rgba(50, 50, 70, 0.5);
  text-align: center;
  box-shadow: 3px 6px rgba(0,0,0,0.2),;
}

.weather-box .weather{
  color:#FFF;
  font-size: 40px;
  font-weight: 700;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
}

.leaderBoard{
  color: black;
  background-color: rgb(126, 189, 221);
}

.diveInfo{
  background-color: rgb(83, 111, 145);
  color: whitesmoke
}

.favorite{
  color: gold
}

.certBox{
  background-color: rgb(2, 14, 43);
  color:white;
  margin: 20px;
  

}

.diveForm{
  background-color:rgb(26, 27, 51);
  padding: 15px;
  align-content: center;
  opacity: 93%;
}

.record{
  background-color:rgb(2, 14, 43);
  color:white;
  margin: 20px;
}

.sidenav a:hover {
  color: #064579;
  
}

.sidenav {
  width: 130px;
  position: fixed;
  z-index: 1;
  top: 20px;
  left: 10px;
  background: #eee;
  overflow-x: hidden;
  padding: 8px 0;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #2196F3;
  display: block;
}

.starYellow{
  color: yellow
}

.starGreen{
  color: green
}
.starBlue{
  color: blue
}

.weather{
float: right;
background-color:rgb(236, 236, 222);
}

.weatherCard{
  height: 450px;
  width: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: "20px";
  background-color: rgb(40, 68, 88);
  color: whitesmoke;
  padding: 15px;
  size: 20px;

}

.diveCard{
  background-color: rgb(14, 14, 107);
  opacity: 75%;
  font-size: 25px;
  width: 360px;
  margin-left: 20px;
}

.addDiveButton{
margin-left: auto;
margin-right: auto;

}

.enjoy-css {
  margin-left: 775px;
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  position: absolute;
  cursor: pointer;
  padding: 10px 57px;
  border: 1px solid #018dc4;
  -webkit-border-radius: 9px;
  border-radius: 9px;
  font: normal 16px/normal "black-ops-one", Helvetica, sans-serif;
  color: rgba(255,255,255,0.9);
  -o-text-overflow: clip;
  text-overflow: clip;
  background: rgba(35,39,132,1);
  -webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) ;
  box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) ;
  text-shadow: -1px -1px 0 rgba(15,73,168,0.66) ;
  -webkit-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
}

.leadHead{
  color: whitesmoke;
  margin-left: 67px;
  
}


.diveImage{

    width:705px; /*width of your image*/
    height:435px; /*height of your image*/
    background-image:url('../client/components/assets/Capture.jpg');
    float: right;
    margin-right: 10px;
    margin-top: 20px;
 }
